vendor
node_modules
.git
.gitignore
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
Dockerfile
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
